@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.projects-swiper {
  padding: 20px 40px;
}

.projects-swiper .swiper-button-next,
.projects-swiper .swiper-button-prev {
  color: #22c55e !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  scale: 0.7;
}

.projects-swiper .swiper-pagination-bullet {
  background: #22c55e !important;
  opacity: 0.5;
}

.projects-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  scale: 0.7;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
